<div class="auth-container">
    <div class="auth-box">
        <h1 class="page-title">Login</h1>
        
        <% if (typeof error !== 'undefined' && error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        
        <form action="/login" method="POST" class="auth-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        
        <div class="auth-links">
            <p>Don't have an account? <a href="/register">Register here</a></p>
        </div>
    </div>
</div> 